*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body{
    font-family: 'poppins' sans-serif;
    margin: 0;    
    padding: 0;
}

.lve{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #ff0000, #790069, #ffee00, #0084ff);
    animation: apex 5s ease-in-out infinite;
    background-size: 400% 400%;


    
}

.lve h3{
    position: relative;
    justify-content: center;
    text-align: center;
    top: 45%;
    color: #ffffff;
    font-size: 100px;
    letter-spacing: 35px;
    animation: h3 5s ease-in-out infinite;

}

@keyframes h3{
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes apex{
    0% {
        background-position: 0% 50%;

    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}

section{
    position: relative;
    height: 100vh;
    display: flex;
    background: #000000;
}

section .screen{
    position: relative;
    flex-grow: 2;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
    transition: 1s;

}

section:hover .screen{
    opacity: 0.1;
}


section .screen:hover{
    flex-grow: 5;
    opacity: 1;
}
section .screen:nth-child(1)
{
    background: url(bell1.png);
    background-position: center;
    background-repeat: no-repeat;
}

section .screen:nth-child(2)
{
    background: url(bell2.png);
    background-position: center;
    background-repeat: no-repeat;

}

section .screen:nth-child(3)
{
    background: url(bell3.png);
    background-position: center;
    background-repeat: no-repeat;

}
section .screen .content-1
{
    background: linear-gradient(45deg, #0084ff, #f7308c);
    

}

section .screen .content-2
{
    background: linear-gradient(45deg, #ffee00, #c40000);

}

section .screen .content-3
{
    background: linear-gradient(45deg, #f09000, #ee004f);

}


section .screen .content{
    position: absolute;
    width: 70%;
    height: 150px;
    padding: 40px;
    box-sizing: border-box;
    transform: translatex(100%);
    transition: 0.5s;
    text-align: justify;
}

section .screen:hover .content{
    transform: translatex(0%);
    transition-delay: 0.1s;
}


section .screen:hover .content h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 30px;
    color: #ffffff;
}

section .screen:hover .content p{
    margin: 0;
    padding: 0;
    color: #ffffff;
    padding-bottom: 60px;
<<<<<<< HEAD
    width: 120px;
}

@media (max-width: 770px){

    section .screen:hover .content p
    {
    font-size: 9px;
    padding-bottom: 40px;
    position: relative;
    top: -19px;
    left: -5px;
    word-spacing: 0px;
    font-weight: 200;

    }
    .lve h3{
        height: 100vh;

    }

    .lve h3{
        font-size: 50px;
        letter-spacing: 1px;
    }


    section .screen .content{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
    }
}






















/* .btn:hover{
    box-shadow: inset -2px -2px 8px rgb(255, 255, 255),
                inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset -2px -2px 8px rgba(255, 255, 255, 0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.15);

}

.c-btn:hover{
    box-shadow: inset -2px -2px 8px rgb(255, 255, 255),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 8px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.c-btn{
    position: absolute;
    top: 15%;
    left: 48%;
    background: rgb(243, 243, 243);
    padding: 2rem 5rem;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: -2px -2px 8px rgb(255, 255, 255),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    -2px -2px 8px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);

}
.btn{
    position: absolute;
    top: 40%;
    left: 40%;
    background: rgb(243, 243, 243);
    padding: 2rem 5rem;
    border-radius: 35px;
    box-shadow:     -2px -2px 8px rgb(255, 255, 255),
                    -2px -2px 12px rgba(255, 255, 255, 0.5),
                    -2px -2px 8px rgba(255, 255, 255, 0.1),
                    2px 2px 8px rgba(0, 0, 0, 0.15);

}

.btn a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
} */
